
.input-container {
    margin-bottom: 16px;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-wrapper input {
    width: 100%;
    padding-right: 40px; /* Space for the icon */
    padding-left: 10px;
    height: 36px;
    font-size: 16px;
  }
  
  .input-wrapper .icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
  

  