.proInput{
    color: #222;
    background-color: #fff;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.200);
    width: 250px;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    margin: 10px;
    outline: none;
}

.show-password{
    background-color: #fff;
    padding: 6px 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
}
form {
    display: inline-block;
    margin: 0 auto;
    margin-top: 2%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.form-group label {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .show-password{
        background: none;

    }
    .password{
        
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
}